.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('./assets/login_page_bg.jpg') no-repeat center center/cover;
    background-size: cover; 
    background-position: center;
  }
  .form-comtainer {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
  }

  .login-text h1 {
    margin-bottom: 20px;
    color: #333;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .submit-button button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }

  .submit-button button:hover {
    background-color: #0056b3;
  }

  .forget-password,
.not-a-member {
  margin-top: 10px;
  font-size: 14px;
}

a {
    color: #007bff;
    text-decoration: none;
    margin-left: 5px;
  }

  a:hover {
    text-decoration: underline;
  }